parameters:
	level: 5

	paths:
		- ./src/app
		- ./src/www

includes:
	- ./src/vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- ./src/vendor/phpstan/phpstan-dibi/extension.neon
	- ./src/vendor/phpstan/phpstan-nette/extension.neon
	- ./src/vendor/phpstan/phpstan-strict-rules/rules.neon
	- ./src/vendor/spaze/phpstan-disallowed-calls/extension.neon
	- phar://phpstan.phar/conf/bleedingEdge.neon
