parameters:
	checkDynamicProperties: true

	checkMissingCallableSignature: true

	checkMissingOverrideMethodAttribute: true

	checkTooWideReturnTypesInProtectedAndPublicMethods: true

	checkUninitializedProperties: true

	fileExtensions:
		- php
		- phpt

	ignoreErrors:
		- '#Class dibi referenced with incorrect case: Dibi\.#'

	level: 5

	paths:
		- ./src/app
		- ./src/www
		- ./tests

	reportAnyTypeWideningInVarTag: true

	reportWrongPhpDocTypeInVarTag: true

	strictRules:
		allRules: true

	universalObjectCratesClasses:
		- Dibi\Row

includes:
	- ./src/vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- ./src/vendor/phpstan/phpstan-dibi/extension.neon
	- ./src/vendor/phpstan/phpstan-nette/extension.neon
	- ./src/vendor/phpstan/phpstan-strict-rules/rules.neon
	- ./src/vendor/spaze/phpstan-disallowed-calls/extension.neon
	- phar://phpstan.phar/conf/bleedingEdge.neon
