# see https://doc.nette.org/en/configuring

parameters:
	dibi: # Accepted security risk for sake of development speed
		host: database
		port: 3306
		database: mydb
		user: myuser
		password: mypass
		lazy: TRUE


application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping: WbAssignment\Presentation\*\**Presenter


database:
	dsn: 'sqlite::memory:'
	user:
	password:


latte:
	strictTypes: yes
	strictParsing: yes
	extensions:
		- WbAssignment\Presentation\Accessory\LatteExtension


assets:
	mapping:
		default:
			path: assets
			# type: vite  # Uncomment to activate Vite for asset building


di:
	export:
		parameters: no
		tags: no


dibi: %dibi%


extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22
