{block content}
<div id="banner">
	<h1 n:block=title>WB assignment</h1>
</div>

<div id="content">
	<p>Not much to see here bro..... Either use CLI commands or fire Postman commands to enpoints "/api/devices" and "/api/owners".</p>
</div>
